<h1>Nap App.</h1>
<h2>Read below for some nap tips:</h2>
<br />
<h3>1. Keep naps short. Don't sleep for more than 20 minutes, or else you'll make yourself more tired than rested.</h3>
<h3>2. Take naps in the early afternoon, or it could interfere with nighttime sleep.</h3>
<h3>3. Create a restful environment. Nap in a quiet dark place, preferably room temp.</h3>
<br />
<h1>Click here to start tracking your sleep!(This would be a link to a more advanced feature)</h1>

