// Place all the styles related to the naptips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-family: helvetica;
    font-size: 48pt;
    color: pink;
}

h2 {
    font-family: helvetica;
}

h3 {
    font-family: helvetica;
}

h4 {
    font-family: helvetica;
}

a {
    font-family: helvetica;
    color: pink;
    font-size: 24pt;
}